<% include header %>
<ul>
	<li><h3>Friends Flighs</h3>
	<% console.log(fFlights); %>
	<li><h3>Local Flights</h3>
 <li>
	 <h3>Create a Flight</h3>
	 <a href="/newflight">Create a new flight</a>
 </li>
</ul>
<% include footer %>
