<% include header %>

<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">FindAFlock</a>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
		 <img src="images/FindAFlock-Futura-Light-fb.png">
		  <a href="/auth/facebook"><img src="images/login_with_facebook.png"></a>
    </div>
</div>
		  <div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Mobile-First Spontaneous Gatherings</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
						  Meet
                </h3>
                <p>
FindAFlock is building an application that connects nearby users to meetup for food, drinks or casual gatherings. A user begins by logging into the application using their Facebook account.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
						  Click
                </h3>
                <p>
					 Following the login, the user enters the home screen where the user can browse existing Flights or initiate a new Flight. In initiating a Flight, the user will broadcast a preference for food, drink or casual gathering, and will also select if the Flight will be shared by existing Facebook friends or by the general public as well.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-3">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
						  Soar
                </h3>
                <p>
					 The user will then see a list of nearby Flights, ranked in order of proximity to the user. From this list, the user will be able to Soar with a Flight and Chirp with the Flock in order to make plans for an immediate interaction.

                </p>
            </div>
        </div>
    </div>
 </div>

</script>





