img#dash-logo {
	margin-left: -.5em;
}

a.soar {
	margin-top: 1em;
	width: 90%;
}
div.soar {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

div.content {
	padding-top: 1em;
}

div.flight-info {
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
i.fa {
	padding-right: .5em;
}

ul.flight-member li {
	list-style-type: none;
}
ul.flight-member {
	padding: 0;
}
tr.flight a {
	text-decoration: none;
	color: inherit;
}
tr.flight a:hover {
	text-decoration: none;
	color: #93D0F9;
}
